<form [formGroup]="makerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="inputGebruiksnaam">Gebruiksnaam</label>
        <input type="text" class="form-control" id="inputGebruiksnaam" placeholder="Gebruiksnaam">
        <label for="inputVoornaam">voornaam</label>
        <input type="text" class="form-control" id="inputVoornaam" placeholder="Voornaam">
        <label for="inputAchternaam">Achternaam</label>
        <input type="text" class="form-control" id="inputAchternaam" placeholder="Achternaam">
    </div>
    <button type="submit" class="btn btn-primary">Toevoegen</button>
</form>