<div *ngIf="!editMaker" class="col-md-12 text-muted">
        <h2>{{maker.voornaam}} {{maker.achternaam}} ({{userInfo.username}})</h2>
    
        <div>
           <span class="font-weight-bold font-italic">Geb. datum:</span> {{maker.geboorteDatum}}
        </div>


        <div class="info">
            <span class="font-weight-bold font-italic">E-mailadres:</span> {{userInfo.email}}
        </div>


        <div class="info">
                <span class="font-weight-bold font-italic">LinkedIn:</span>
                {{maker.linkedInLink}}
        
        </div>

        <div class="info">
                <span class="font-weight-bold font-italic">Adres:</span> {{maker.straat}} {{maker.nr}}, {{maker.postcode}} {{maker.stad}}
        </div>


        <div class="info">
                <span class="font-weight-bold font-italic">Ervaring:</span> {{maker.ervaring}}
        </div>


        <div class="info">
                <span class="font-weight-bold font-italic">Info:</span>
                {{maker.biografie}}
        </div>

        <div *ngFor="let makerTag of makerTags">
            <span class="badge badge-pill badge-info">{{makerTag.tag.naam}}</span>
        </div>
        

        <div class="divider"></div>
        <br>
        <button (click)="editUserDetails()" class="btn btn-primary btn-lg btn-block">Bewerken</button>
        <br>
    </div>


    <!-- maker aanpassen -->
    <div *ngIf="editMaker" class="col-md-12 text-muted">
        <form [formGroup]="userForm" (ngSubmit)="saveChangesMaker()">
        
        <div class="form-group">
            <label for="">Gebruikersnaam:</label>
            <input type="text" [(ngModel)]="userInfo.username" class="form-control" placeholder="Gebruikersnaam" formControlName="Nickname">
        </div>

        <div class="form-group">
            <label for="">Voornaam:</label>
            <input type="text" [(ngModel)]="maker.voornaam" class="form-control" placeholder="Voornaam" formControlName="Voornaam">
        </div>


        <div class="form-group">
            <label for="Achternaam">Achternaam:</label>
            <input type="text" [(ngModel)]="maker.achternaam" class="form-control" placeholder="Achternaam" formControlName="Achternaam">
        </div>

        <div class="form-group">
                <label for="Achternaam">GeboorteDatum:</label>
                <input type="text" [(ngModel)]="maker.geboorteDatum" class="form-control" placeholder="Geboortedatum" formControlName="GeboorteDatum">
            </div>


        <div class="form-group">
            <label for="">Email:</label>
            <input type="text" [(ngModel)]="userInfo.email" class="form-control" placeholder="Email" formControlName="Email">
        </div>

        <div class="form-group">
                <label for="">Straat:</label>
                <input type="text" [(ngModel)]="maker.straat" class="form-control" placeholder="Straat" formControlName="Straat">
            </div>

            <div class="form-group">
                <label for="">Nummer:</label>
                <input type="text" [(ngModel)]="maker.nr" class="form-control" placeholder="Nummer" formControlName="Nr">
            </div>

            <div class="form-group">
                <label for="">Postcode:</label>
                <input type="text" [(ngModel)]="maker.postcode" class="form-control" placeholder="Postcode" formControlName="Postcode">
            </div>

            <div class="form-group">
                <label for="">Stad:</label>
                <input type="text" [(ngModel)]="maker.stad" class="form-control" placeholder="Stad" formControlName="Stad">
            </div>

            

                <div class="form-group">
                        <label for="">LinkedIn profiel:</label>
                        <input type="text" [(ngModel)]="maker.linkedInLink" class="form-control" placeholder="LinkedIn profiel" formControlName="LinkedInLink">
                    </div>

                    <div class="form-group">
                        <label for="">Ervaring:</label>
                        <textarea type="text"[(ngModel)]="maker.ervaring" class="form-control" placeholder="Begin ervaring" formControlName="Ervaring"></textarea>
                    </div>


                <div class="form-group">
                        <label for="">Info:</label>
                        <textarea type="text" [(ngModel)]="maker.biografie" class="form-control" placeholder="Info" formControlName="Biografie"></textarea>
                    </div>

                    <tag-input [(ngModel)]='tags' formControlName="Tags">
                        <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="tagItems">
                        </tag-input-dropdown>
                    </tag-input>
                    

                  
                            <input type="hidden" [(ngModel)]="maker.id"  formControlName="Id">
                            <input type="hidden" [(ngModel)]="maker.cv"  formControlName="CV">
                            <input type="hidden" [(ngModel)]="maker.foto"  formControlName="Foto">
                       

        <div class="divider"></div>
        <br>
        <button type="submit"  class="btn btn-primary btn-lg btn-block">Opslaan</button>
        <button type="button" (click)="editUserDetails()" class="btn btn-danger btn-lg btn-block">Annuleer</button>
        <br>
        </form>

</div>