<div class="container">

        <div *ngIf="!triggered" class="col-md-12 text-center">
                <img [src]="profielfoto" alt="Alternate Text" class="img-responsive text-center"
                width="300" height="300" />
        </div>


        <div class="col-md-12 text-muted">
                <h2>{{opdracht.titel}}</h2>
                <div class="bedrijf-link" class="font-weight-bold" (click)="viewBedrijf(opdracht.bedrijfId)">
                   {{opdracht.bedrijf.naam}}<i class="fas fa-chevron-right"></i>
                </div>
        
        
                <div class="info">
                        <span class="font-weight-bold font-italic">Omschrijving:</span>
                        {{opdracht.omschrijving}}
                </div>

                <div class="info">
                        <span class="font-weight-bold font-italic">Locatie:</span>
                        {{opdracht.straat}} {{opdracht.straatNr}}, {{opdracht.postcode}} {{opdracht.woonPlaats}}
                </div>
        
                <div class="divider"></div>
                <br>
                <button *ngIf="!voted" (click)="deelnemen()" class="btn btn-primary btn-lg btn-block">Deelnemen</button>
                <button *ngIf="voted" (click)="uitschrijvenOpdracht(opdrachtmakerid)" class="btn btn-danger btn-lg btn-block">Uitschrijven</button>
                <br>
            </div> 
</div>