<div class="container">
    <div class="ro">
        <div class="text-muted small" *ngIf="!editOpdracht && Opdracht">
            <div *ngIf="Opdracht.open == true; else falseOpdracht">
                <h2 class="pb-3 font-weight-bold">{{Opdracht.titel}}
                    <span *ngIf="Opdracht.open" class="badge badge-success">Open</span>
                </h2>
            </div>

            <ng-template #falseOpdracht>
                <div *ngIf="Opdracht.klaar == false; else opdrachtKlaar">
                    <h2 class="pb-3 font-weight-bold">{{Opdracht.titel}} <span *ngIf="!Opdracht.open"
                            class="badge badge-danger">Gesloten</span></h2>
                </div>
                <ng-template #opdrachtKlaar>
                    <h2 class="pb-3 font-weight-bold">{{Opdracht.titel}} <span *ngIf="!Opdracht.open"
                            class="badge badge-warning">Klaar</span></h2>
                </ng-template>
            </ng-template>
            <div>
                <h6><span class="font-weight-bold font-italic">Omschrijving:</span> {{Opdracht.omschrijving}}</h6>
            </div>

            <div class="info">
                <h6><span class="font-weight-bold font-italic">Locatie:</span> {{Opdracht.straat}}
                    {{Opdracht.straatNr}}, {{Opdracht.postcode}} {{Opdracht.woonPlaats}}</h6>
            </div>
            <div *ngFor="let opdrachtTag of opdrachtTags">
                <h6>
                    <span class="badge badge-pill badge-info">{{opdrachtTag.tag.naam}}</span>
                </h6>
            </div>
            <div class="divider"></div>
            <br>
            <h4 class="pb-3 font-weight-bold font-italic">Makers:</h4>
            <span *ngIf="opdrachtmakers.length == 0"> Er zijn nog geen makers die zich aangemeld hebben voor deze
                opdracht.</span>



            <!-- <div *ngFor="let opdrachtmaker of opdrachtmakers">

                <span *ngIf="opdrachtmaker.geaccepteerd == false ; else makerOk">
                    <div (click)="viewMaker(opdrachtmaker.maker.id)"> {{opdrachtmaker.maker.nickname}} </div>
                    <button class="btn btn-primary m-1" (click) = "AccepteerMaker(opdrachtmaker.id,opdrachtmaker)">Accepteren</button>
                    <button class="btn btn-danger m-1" (click)=VerwijderMaker(opdrachtmaker.id)>Verwijderen</button>
                
                </span>

                <ng-template #makerOk>

                    <div (click)="viewMaker(opdrachtmaker.maker.id)"> {{opdrachtmaker.maker.nickname}} </div>
                    <div *ngIf="Opdracht.klaar == false">
                        <button (click)=MaakWinnaar(opdrachtmaker)>Maak winnaar</button>
                    </div>

                  </ng-template>
            </div> -->

            <ul class="list-group">
                <li *ngFor="let opdrachtmaker of opdrachtmakers" class="list-group-item">
                    <div *ngIf="opdrachtmaker.geaccepteerd == false ; else makerOk">
                        <span (click)="viewMaker(opdrachtmaker.maker.id)"
                            class="list-title">{{opdrachtmaker.maker.voornaam}} {{opdrachtmaker.maker.achternaam}}<i
                                class="fas fa-chevron-right"></i></span>
                        <div class="actions">
                            <button class="btn btn-primary m-1 btn-circle"
                                (click)="AccepteerMaker(opdrachtmaker.id,opdrachtmaker)"><i
                                    class="fas fa-check-circle"></i></button>
                            <button class="btn btn-danger m-1 btn-circle" (click)=VerwijderMaker(opdrachtmaker.id)><i
                                    class="fas fa-minus-circle"></i></button>
                        </div>
                    </div>


                    <ng-template #makerOk>

                        <span (click)="viewMaker(opdrachtmaker.maker.id)"
                            class="list-title">{{opdrachtmaker.maker.voornaam}} {{opdrachtmaker.maker.achternaam}}<i
                                class="fas fa-chevron-right"></i></span>
                        <div class="actions" *ngIf="Opdracht.klaar == false">
                            <button class="btn btn-warning btn-circle m-1" (click)=MaakWinnaar(opdrachtmaker)><i
                                    class="fas fa-trophy"></i></button>
                        </div>

                    </ng-template>


                </li>
            </ul>


            <hr>

            <div *ngIf="Opdracht.open == true; else opdrachtGesloten">
                <button (click)="SluitOpdracht()" class="btn btn-primary btn-lg btn-block mt-3">Sluit opdracht</button>
            </div>
            <ng-template #opdrachtGesloten>
                <div *ngIf="Opdracht.klaar == false">
                    <button (click)="OpenOpdracht()" class="btn btn-primary btn-lg btn-block mt-3">Open
                        opdracht</button>
                </div>
            </ng-template>
            <div *ngIf="Opdracht.klaar == false">
                <button (click)="editOpdrachtDetails()" class="btn btn-primary btn-lg btn-block mt-3">Bewerken</button>
            </div>
            <button href="#" data-toggle="modal" data-target="#deleteModal"
                class="btn btn-danger btn-lg btn-block mt-3">Verwijderen</button>
            <br>
        </div>


        <div *ngIf="editOpdracht &&!newOpdracht" class="col-md-5 text-muted small">
            <form [formGroup]="opdrachtForm" (ngSubmit)="saveChangesOpdracht()">

                <div class="form-group">
                    <label for="">Titel:</label>
                    <input type="text" [(ngModel)]="Opdracht.titel" class="form-control" placeholder="Titel"
                        formControlName="Titel">
                </div>

                <div class="form-group">
                    <label for="">Omschrijving:</label>
                    <input type="text" [(ngModel)]="Opdracht.omschrijving" class="form-control"
                        placeholder="Omschrijving" formControlName="Omschrijving">
                </div>


                <div class="form-group">
                    <label for="Straat">Straat:</label>
                    <input type="text" [(ngModel)]="Opdracht.straat" class="form-control" placeholder="Straat"
                        formControlName="Straat">
                    <label for="StraatNr">StraatNummer:</label>
                    <input type="text" [(ngModel)]="Opdracht.straatNr" class="form-control" placeholder="StraatNr"
                        formControlName="StraatNr">
                    <label for="Postcode">Postcode:</label>
                    <input type="text" [(ngModel)]="Opdracht.postcode" class="form-control" placeholder="Postcode"
                        formControlName="Postcode">
                    <label for="Woonplaats">Woonplaats:</label>
                    <input type="text" [(ngModel)]="Opdracht.woonPlaats" class="form-control" placeholder="Woonplaats"
                        formControlName="Woonplaats">
                </div>

                <input type="hidden" [(ngModel)]="Opdracht.id" formControlName="Id">
                <input type="hidden" [(ngModel)]="Opdracht.bedrijfId" formControlName="BedrijfId">
                <input type="hidden" [(ngModel)]="Opdracht.opden" formControlName="Open">
                <tag-input [(ngModel)]='tags' formControlName="Tags"></tag-input>

                <div class="divider"></div>
                <br>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Opslaan</button>
                <button type="button" (click)="editOpdrachtDetails()"
                    class="btn btn-danger btn-lg btn-block">Annuleer</button>
                <br>
            </form>

        </div>
        <div *ngIf="newOpdracht" class="col-md-5 text-muted small">
            <form [formGroup]="newOpdrachtForm" (ngSubmit)="postOpdracht()">

                <div class="form-group">
                    <label for="Titel">Titel:</label>
                    <input type="text" [(ngModel)]="Opdracht.titel" class="form-control" placeholder="Titel"
                        formControlName="Titel">
                </div>

                <div class="form-group">
                    <label for="Omschrijving">Omschrijving:</label>
                    <input type="text" [(ngModel)]="Opdracht.omschrijving" class="form-control"
                        placeholder="Omschrijving" formControlName="Omschrijving">
                </div>


                <div class="form-group">
                    <label for="Straat">Straat:</label>
                    <input type="text" [(ngModel)]="Opdracht.straat" class="form-control" placeholder="Straat"
                        formControlName="Straat">
                    <label for="StraatNr">StraatNummer:</label>
                    <input type="text" [(ngModel)]="Opdracht.straatNr" class="form-control" placeholder="StraatNr"
                        formControlName="StraatNr">
                    <label for="Postcode">Postcode:</label>
                    <input type="text" [(ngModel)]="Opdracht.postcode" class="form-control" placeholder="Postcode"
                        formControlName="Postcode">
                    <label for="Woonplaats">Woonplaats:</label>
                    <input type="text" [(ngModel)]="Opdracht.woonPlaats" class="form-control" placeholder="Woonplaats"
                        formControlName="Woonplaats">
                </div>
                <tag-input [(ngModel)]='tags' formControlName="Tags"></tag-input>
                <input type="hidden" [(ngModel)]="Opdracht.id" formControlName="Id">
                <input type="hidden" [(ngModel)]="bedrijfId" formControlName="BedrijfId">
                <input type="hidden" [(ngModel)]="Opdracht.open" formControlName="Open">


                <div class="divider"></div>
                <br>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Opslaan</button>
                <button type="button" routerLink="/bedrijfOpdrachten"
                    class="btn btn-danger btn-lg btn-block">Terug</button>
                <br>
            </form>

        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bent u zeker?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Ben je zeker dat je de opdracht: {{Opdracht.titel}} wilt verwijderen?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuleer</button>
                    <button (click)="deleteOpdracht(Opdracht.id)" data-dismiss="modal"
                        class="btn btn-danger">Verwijder</button>
                </div>
            </div>
        </div>
    </div>