<ngb-tabset>
    <ngb-tab title="Makers">
        <ng-template ngbTabContent>

            <form>
                <button (click)="addMaker()" class="btn btn-primary btn-user">
                    Maker toevoegen
                </button>
                <input class="form-control" type="text" placeholder="email" name="search" aria-label="email"
                    [(ngModel)]="emailFilter.email">
                <input class="form-control" type="text" placeholder="gebruiksnaam" name="search"
                    aria-label="gebruiksnaam" [(ngModel)]="gebruiksnaamFilter.nickname">
            </form>
            <div class="card" *ngFor="let maker of makers | filterBy:gebruiksnaamFilter | filterBy:emailFilter">
                <div class="card-body">
                    <h5 class="card-title">{{maker.nickname}}</h5>
                    <p>{{maker.email}}</p>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Bedrijven">
        <ng-template ngbTabContent>
            <form>
                <button (click)="addBedrijf()" class="btn btn-primary btn-user">
                    Bedrijf toevoegen
                </button>
                <input class="form-control" type="text" placeholder="Bedrijfsnaam" name="search"
                    aria-label="bedrijfsnaam" [(ngModel)]="bedrijfFilter.naam">
            </form>
            <div class="card p-2" *ngFor="let bedrijf of bedrijven | filterBy: bedrijfFilter">
                <div class="card-body">
                    <h5 class="card-title">{{bedrijf.naam}}</h5>
                    <p>{{bedrijf.biografie}}</p>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Reviews">
        <ng-template ngbTabContent>
            <form>
                <input class="form-control" type="text" placeholder="Reviewer" name="search" aria-label="reviewer"
                    [(ngModel)]="reviewerFilter.makerId">
            </form>
            <div class="card" *ngFor="let review of reviews | filterBy: reviewerFilter">
                <div class="card-body">
                    <h5 class="card-title">{{review.makerId}}</h5>
                    <ngb-rating [(rate)]="review.score">
                        <ng-template let-fill="fill">
                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                        </ng-template>
                    </ngb-rating>
                    <p>{{review.reviewTekst}}</p>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
</ngb-tabset>