.form-control{
    margin-bottom: 10px;
}
.btn{
    margin-bottom: 10px;
}
.card{
    margin-bottom: 10px;
    cursor: pointer;
}
.star {
    font-size: 1.5rem;
    color: #b0c4de;
  }
  .filled {
    color: #1e90ff;
  }