<div class="p-5">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Wachtwoord vergeten</h1>
    </div>
    <form class="user" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
            <div class="col-12">
                <input type="email" class="form-control form-control-user" id="email" placeholder="Email"
                    formControlName="email" [ngClass]="{ 'is-invalid': submitted && p.email.errors }">
                <div *ngIf="submitted && p.email.errors" class="invalid-feedback">
                    <div *ngIf="p.email.errors.required">Verplicht in te vullen.</div>
                    <div *ngIf="p.email.errors.email">Gelieve een geldig emailadres te geven.</div>
                </div>
                <div *ngIf="submitted && passwordConfirm" class="valid">
                    <div *ngIf="passwordConfirm"><i class="far fa-fw fa-check-circle"></i>Er is een email verzonden met een nieuw wachtwoord voor dit account.</div>
                </div>
            </div>
        </div>
        <button type="submit" [disabled]="wait" class="btn btn-primary btn-user btn-block col-sm-6 mx-auto">
            Bevestig
        </button>
        <!--  <hr>
        <a href="index.html" class="btn btn-google btn-user btn-block col-12 mx-auto">
          <i class="fab fa-google fa-fw"></i> Login with Google
        </a>
        <a href="index.html" class="btn btn-facebook btn-user btn-block col-12 mx-auto">
          <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
        </a> -->
    </form>
    <hr>
    <div class="text-center">
        <button class="small btn btn-link" role="button" (click)="disableRegister()">Heb je al een account? Log
            in!</button>
    </div>
</div>