.form-control-textarea {
    border-radius: 20px !important;   
}

tag-input {
    margin-top: 5px;
    font-size: 12.8px;
    background-color: none;
}

.dob {
    background: white;
}


.backButton {
    background: #09ada7;
}