<div class="container">
<div class="row">
    <div class="col-md-3 text-center">
        <img [src]="profielfoto" alt="Alternate Text" class="img-responsive text-center"
            width="240" height="240" />
        <p class="text-center small">
            <a (click)="openFotoUpload()">Verander foto</a></p>
    </div>
    <div class="col-md-4 text-muted small">
        <h2>Jelle Van Langendonck</h2>
        <div>
           <span class="font-weight-bold font-italic">Geb. datum:</span> 13/11/1998
        </div>


        <div class="info">
            <span class="font-weight-bold font-italic">E-mailadres:</span> r0705177@student.thomasmore.be
        </div>


        <div class="info">
                <span class="font-weight-bold font-italic">LinkedIn:</span>
            www.linkedin.com/in/jelle-van-langendonck/
        
        </div>

        <div class="info">
                <span class="font-weight-bold font-italic">Gsm:</span> +32494692400
        </div>


        <div class="info">
                <span class="font-weight-bold font-italic">Jaren Ervaring:</span> 3
        </div>


        <div class="info">
                <span class="font-weight-bold font-italic">Info:</span>
            Hallo ik ben Jelle Van Langendonck, student IT-Factory aan Thomas More in Geel. Mijn hobbies zijn uitgaan
            met vrienden en opstap gaan, tevens ben ik actief als Stagecoördinator en Hoofd-Animator op de
            speelpleinwerking van Lommel.
        </div>

        <div class="divider"></div>
        <br>
        <button href="#" class="btn btn-primary btn-lg btn-block btn-sm active">Bewerken</button>
        <br>
    </div>

</div>
<div class="row">
    <div class="col-md-3 text-center" *ngIf="triggered == true">
        <label for="file">Choose File</label>
    <input type="file"
           id="file"
           (change)="handleFileInput($event.target.files)">
    </div>
</div>
</div>