<div class="container">
    <div *ngIf="!triggered" class="col-md-12 text-center">
        <img [src]="profielfoto" alt="Alternate Text" class="img-responsive text-center"
            width="300" height="300" />

            <br>
            <button  class="btn btn-primary" (click)="openFotoUpload()">Verander foto</button>
    </div>

    <div *ngIf="triggered" class="row">
        <br>
            <div class="col-md-12 text-center" *ngIf="triggered == true">
                <label for="file">Choose File</label>
    <input type="file"
           id="file"
           (change)="handleFileInput($event.target.files)">
            </div>
        </div>




        <app-maker></app-maker>

   
 <div class="row">
    

    <div *ngIf="vbedrijf">
        <!-- overzicht bedrijf -->
        <div *ngIf="!editBedrijf && vbedrijf" class="col-md-4 text-muted small">
                <h2>{{bedrijf.naam}} ({{username}}) </h2>
                <div>
                   <span class="font-weight-bold font-italic">Adres:</span> {{bedrijf.adres}}
                </div>
        
        
                <div class="info">
                        <span class="font-weight-bold font-italic">Biografie:</span>
                        {{bedrijf.biografie}}
                </div>
        
                <div class="divider"></div>
                <br>
                <button (click)="editUserDetails()" class="btn btn-primary btn-lg btn-block">Bewerken</button>
                <br>
            </div>
        


    <!-- bedrijf aanpassen -->
    <div *ngIf="editBedrijf" class="col-md-4 text-muted small">
            <form [formGroup]="bedrijfForm" (ngSubmit)="saveChangesBedrijf()">


                    <div class="form-group">
                            <label for="">Username:</label>
                            <input type="text" [(ngModel)]="username" class="form-control" placeholder="Username" formControlName="Username">
                        </div>

                <div class="form-group">
                <label for="">Naam:</label>
                <input type="text" [(ngModel)]="bedrijf.naam" class="form-control" placeholder="Naam bedrijf" formControlName="Naam">
            </div>

            <div class="form-group">
                <label for="">Naam:</label>
                <input type="text" [(ngModel)]="bedrijf.naam" class="form-control" placeholder="Naam bedrijf" formControlName="Naam">
            </div>
    
            <div class="form-group">
                <label for="">Adres:</label>
                <input type="text" [(ngModel)]="bedrijf.adres" class="form-control" placeholder="Adres" formControlName="Adres">
            </div>
    
    
    
                    <div class="form-group">
                            <label for="">Biografie:</label>
                            <input type="text" [(ngModel)]="bedrijf.biografie" class="form-control" placeholder="Info" formControlName="Biografie">
                        </div>
    
                      
                                <input type="hidden" [(ngModel)]="bedrijf.id"  formControlName="Id">
                                <input type="hidden" [(ngModel)]="bedrijf.foto"  formControlName="Foto">
                           
    
            <div class="divider"></div>
            <br>
            <button type="submit"  class="btn btn-primary btn-lg btn-block">Opslaan</button>
            <button type="button" (click)="editUserDetails()" class="btn btn-danger btn-lg btn-block">Annuleer</button>
            <br>
            </form>
</div>
</div>

</div>
