<!-- Register -->
<div class="p-5">
  <div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Welkom bij Centask!</h1>
  </div>
  <div class="row col-sm-6 mx-auto">
    <div (click)="changeForm(1)" class="col h5 text-gray-500 mb-4 text-right formOption"
      [ngClass]="{'studentActive': form == 1}">Student</div>
    <div *ngIf="form == 1" class="col-2 text-center logoMini d-none d-sm-block"><img class="logoHalf"
        src="assets/logo_transparent_half2.png"></div>
    <div *ngIf="form == 2" class="col-2 text-center logoMini d-none d-sm-block"><img class="logoHalf"
        src="assets/logo_transparent_half1.png"></div>
    <div (click)="changeForm(2)" class="col h5 text-gray-500 mb-4 text-left formOption"
      [ngClass]="{'bedrijfActive': form == 2}">Bedrijf</div>
  </div>

  <!-- Student Register Form -->
  <form *ngIf="form == 1" class="user" [formGroup]="registerFormStudent" (ngSubmit)="onSubmitStudent()">
    <div id="carouselStudent" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h5 class="h5 text-gray-900 mb-2">Over jezelf</h5>
          <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <input type="text" class="form-control form-control-user" required id="firstName" placeholder="Voornaam"
                formControlName="voornaam" [ngClass]="{ 'is-invalid': submittedStudent && f.voornaam.errors }">
              <div *ngIf="submittedStudent && f.voornaam.errors" class="invalid-feedback">
                <div *ngIf="f.voornaam.errors.required">Verplicht in te vullen.</div>
              </div>
            </div>
            <div class="col-sm-6">
              <input type="text" class="form-control form-control-user" id="lastName" placeholder="Achternaam"
                formControlName="achternaam" [ngClass]="{ 'is-invalid': submittedStudent && f.achternaam.errors }">
              <div *ngIf="submittedStudent && f.achternaam.errors" class="invalid-feedback">
                <div *ngIf="f.achternaam.errors.required">Verplicht in te vullen.</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <input type="email" class="form-control form-control-user" id="email" placeholder="Email"
                formControlName="email"
                [ngClass]="{ 'is-invalid': submittedStudent && f.email.errors || submittedStudent && invalidStudentEmail }">
              <div *ngIf="submittedStudent && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Verplicht in te vullen.</div>
                <div *ngIf="f.email.errors.email">Gelieve een geldig emailadres te geven.</div>
              </div>
              <div *ngIf="submittedStudent && invalidStudentEmail" class="invalid-feedback">
                <div *ngIf="invalidStudentEmail">Dit emailadres wordt al gebruikt.</div>
              </div>
            </div>
            <div class="col-sm-6">
              <input (click)="d.toggle()" readonly type="text" class="form-control form-control-user dob" ngbDatepicker
                #d="ngbDatepicker" [minDate]="{year: 1960, month: 1, day: 1}" [maxDate]="calendar.getToday()"
                placeholder="Geboortedatum" id="geboortedatum" formControlName="geboortedatum"
                [ngClass]="{ 'is-invalid': submittedStudent && f.geboortedatum.errors }" />
              <div *ngIf="submittedStudent && f.geboortedatum.errors" class="invalid-feedback">
                <div *ngIf="f.geboortedatum.errors.required">Verplicht in te vullen.</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 mb-3 mb-sm-0">
              <textarea type="text" class="form-control form-control-user form-control-textarea" rows="3" id="bio"
                placeholder="Biografie" formControlName="biografie"></textarea>
            </div>
          </div>
          <br>
          <h5 class="h5 text-gray-900 mb-2">Woonplaats</h5>
          <div class="form-group row">
            <div class="col-sm-8 mb-3 mb-sm-0">
              <input type="text" class="form-control form-control-user" id="straat" placeholder="Straat"
                formControlName="straat" [ngClass]="{ 'is-invalid': submittedStudent && f.straat.errors }">
              <div *ngIf="submittedStudent && f.straat.errors" class="invalid-feedback">
                <div *ngIf="f.straat.errors.required">Verplicht in te vullen.</div>
              </div>
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control form-control-user" id="nr" placeholder="Nr." formControlName="nr"
                [ngClass]="{ 'is-invalid': submittedStudent && f.nr.errors }">
              <div *ngIf="submittedStudent && f.nr.errors" class="invalid-feedback">
                <div *ngIf="f.nr.errors.required">Verplicht in te vullen.</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-8 mb-3 mb-sm-0">
              <input type="text" class="form-control form-control-user" id="stad" placeholder="Stad"
                formControlName="stad" [ngClass]="{ 'is-invalid': submittedStudent && f.stad.errors }">
              <div *ngIf="submittedStudent && f.stad.errors" class="invalid-feedback">
                <div *ngIf="f.stad.errors.required">Verplicht in te vullen.</div>
              </div>
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control form-control-user" id="postcode" placeholder="Postcode"
                formControlName="postcode" [ngClass]="{ 'is-invalid': submittedStudent && f.postcode.errors }">
              <div *ngIf="submittedStudent && f.postcode.errors" class="invalid-feedback">
                <div *ngIf="f.postcode.errors.required">Verplicht in te vullen.</div>
              </div>
            </div>
          </div>
          <button type="button" (click)="registerNext()" class="btn btn-primary btn-user btn-block col-sm-6 mx-auto">
            Volgende
          </button>
        </div>
        <!--
    <hr>
   <a href="index.html" class="btn btn-google btn-user btn-block col-5 mx-auto">
      <i class="fab fa-google fa-fw"></i> Register with Google
    </a>
    <a href="index.html" class="btn btn-facebook btn-user btn-block col-5 mx-auto">
      <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
    </a> -->
        <div class="carousel-item">
          <h5 class="h5 text-gray-900 mb-2">Ervaring</h5>
          <div class="form-group row">
            <div class="col-sm-12 mb-3 mb-sm-0">
              <textarea type="text" class="form-control form-control-user form-control-textarea" rows="3" id="ervaring"
                placeholder="Omschrijf je IT ervaring.." formControlName="ervaring"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 mb-3 mb-sm-0">
              <input type="text" class="form-control form-control-user" id="linkedInLink" placeholder="LinkedIn-URL"
                formControlName="linkedInLink">
            </div>
          </div>
          <div class="form-group row">
            <label for="tags" class="col-sm-4 col-form-label">Geef je interesses: (Javascript, .NET, ..)</label>
            <div class="col-sm-8 mb-3 mb-sm-0">
              <tag-input class="test" [(ngModel)]='tagsObject' formControlName="tags" [theme]="'centtask-theme'">
                <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="tagItems">
                </tag-input-dropdown>
              </tag-input>
            </div>
          </div>
          <h5 class="h5 text-gray-900 mb-2">Credentials</h5>
          <div class="form-group row">
            <div class="col-sm-12 mb-3 mb-sm-0">
              <input type="text" class="form-control form-control-user" id="userName" placeholder="Gebruikersnaam"
                formControlName="username"
                [ngClass]="{ 'is-invalid': submittedStudent && f.username.errors || submittedStudent && invalidStudentUsername }">
              <div *ngIf="submittedStudent && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Verplicht in te vullen.</div>
              </div>
              <div *ngIf="submittedStudent && invalidStudentUsername" class="invalid-feedback">
                <div *ngIf="invalidStudentUsername">Deze gebruikersnaam bestaat al.</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <input type="password" class="form-control form-control-user" id="password" placeholder="Wachtwoord"
                formControlName="password" [ngClass]="{ 'is-invalid': submittedStudent && f.password.errors }">
              <div *ngIf="submittedStudent && f.password.errors" class="invalid-feedback" autocomplete="new-password">
                <div *ngIf="f.password.errors.required">Verplicht in te vullen.</div>
                <div *ngIf="f.password.errors.minlength">Minimum 6 karakters.</div>
              </div>
            </div>
            <div class="col-sm-6">
              <input type="password" class="form-control form-control-user" id="repeatPassword"
                placeholder="Herhaal Wachtwoord" formControlName="passwordHerhaald"
                [ngClass]="{ 'is-invalid': submittedStudent && f.passwordHerhaald.errors }">
              <div *ngIf="submittedStudent && f.passwordHerhaald.errors" class="invalid-feedback"
                autocomplete="new-password">
                <div *ngIf="f.passwordHerhaald.errors.required">Verplicht in te vullen.</div>
                <div *ngIf="f.passwordHerhaald.errors.minlength">Minimum 6 karakters.</div>
                <div *ngIf="f.passwordHerhaald.errors.mustMatch">Wachtwoord komen niet overeen.</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="btn-group col-sm-6 mx-auto">
              <button type="button" (click)="registerBack()"
                class="btn btn-primary btn-user col-sm-2 mx-auto backButton">
                <i class="fas fa-lg fa-arrow-left"></i>
              </button>
              <button [disabled]="waitStudent" type="submit" class="btn btn-primary btn-user mx-auto">
                Registreer account
              </button>
            </div>
          </div>
          <!--
    <hr>
   <a href="index.html" class="btn btn-google btn-user btn-block col-5 mx-auto">
      <i class="fab fa-google fa-fw"></i> Register with Google
    </a>
    <a href="index.html" class="btn btn-facebook btn-user btn-block col-5 mx-auto">
      <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
    </a> -->
        </div>
      </div>
    </div>
  </form>

  <!-- Bedrijf Register Form -->
  <form *ngIf="form == 2" class="user" [formGroup]="registerFormBedrijf" (ngSubmit)="onSubmitBedrijf()">
    <div id="carouselBedrijf" class="carousel slide" data-ride="carousel2">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h5 class="h5 text-gray-900 mb-2">Algemene informatie</h5>
          <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <input type="text" class="form-control form-control-user" required id="name" placeholder="Bedrijfsnaam"
                formControlName="naam"
                [ngClass]="{ 'is-invalid': submittedBedrijf && b.naam.errors || submittedBedrijf && invalidBedrijfNaam  }">
              <div *ngIf="submittedBedrijf && b.naam.errors" class="invalid-feedback">
                <div *ngIf="b.naam.errors.required">Verplicht in te vullen.</div>
              </div>
              <div *ngIf="submittedBedrijf && invalidBedrijfNaam" class="invalid-feedback">
                <div *ngIf="invalidBedrijfNaam">Deze bedrijfsnaam is al geregistreerd.</div>
              </div>
            </div>
            <div class="col-sm-6">
              <input type="email" class="form-control form-control-user" id="email" placeholder="Email"
                formControlName="email"
                [ngClass]="{ 'is-invalid': submittedBedrijf && b.email.errors || submittedBedrijf && invalidBedrijfEmail }">
              <div *ngIf="submittedBedrijf && b.email.errors" class="invalid-feedback">
                <div *ngIf="b.email.errors.required">Verplicht in te vullen.</div>
                <div *ngIf="b.email.errors.email">Gelieve een geldig emailadres te geven.</div>
              </div>
              <div *ngIf="submittedBedrijf && invalidBedrijfEmail" class="invalid-feedback">
                <div *ngIf="invalidBedrijfEmail">Dit emailadres wordt al gebruikt.</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 mb-3 mb-sm-0">
              <textarea type="text" class="form-control form-control-user form-control-textarea" rows="3" id="bio"
                placeholder="Biografie" formControlName="biografie"></textarea>
            </div>
          </div>
          <br>
          <h5 class="h5 text-gray-900 mb-2">Locatie</h5>
          <div class="form-group row">
            <div class="col-sm-8 mb-3 mb-sm-0">
              <input type="text" class="form-control form-control-user" id="straat" placeholder="Straat"
                formControlName="straat" [ngClass]="{ 'is-invalid': submittedBedrijf && b.straat.errors }">
              <div *ngIf="submittedBedrijf && b.straat.errors" class="invalid-feedback">
                <div *ngIf="b.straat.errors.required">Verplicht in te vullen.</div>
              </div>
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control form-control-user" id="nr" placeholder="Nr." formControlName="nr"
                [ngClass]="{ 'is-invalid': submittedBedrijf && b.nr.errors }">
              <div *ngIf="submittedBedrijf && b.nr.errors" class="invalid-feedback">
                <div *ngIf="b.nr.errors.required">Verplicht in te vullen.</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-8 mb-3 mb-sm-0">
              <input type="text" class="form-control form-control-user" id="stad" placeholder="Stad"
                formControlName="stad" [ngClass]="{ 'is-invalid': submittedBedrijf && b.stad.errors }">
              <div *ngIf="submittedBedrijf && b.stad.errors" class="invalid-feedback">
                <div *ngIf="b.stad.errors.required">Verplicht in te vullen.</div>
              </div>
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control form-control-user" id="postcode" placeholder="Postcode"
                formControlName="postcode" [ngClass]="{ 'is-invalid': submittedBedrijf && b.postcode.errors }">
              <div *ngIf="submittedBedrijf && b.postcode.errors" class="invalid-feedback">
                <div *ngIf="b.postcode.errors.required">Verplicht in te vullen.</div>
              </div>
            </div>
          </div>
          <button type="button" (click)="registerNext()" class="btn btn-primary btn-user btn-block col-sm-6 mx-auto">
            Volgende
          </button>
        </div>
        <!--
      <hr>
     <a href="index.html" class="btn btn-google btn-user btn-block col-5 mx-auto">
        <i class="fab fa-google fa-fw"></i> Register with Google
      </a>
      <a href="index.html" class="btn btn-facebook btn-user btn-block col-5 mx-auto">
        <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
      </a> -->
        <div class="carousel-item">
          <h5 class="h5 text-gray-900 mb-2">Credentials</h5>
          <div class="form-group row">
            <div class="col-sm-12 mb-3 mb-sm-0">
              <input type="text" class="form-control form-control-user" id="userName" placeholder="Gebruikersnaam"
                formControlName="username"
                [ngClass]="{ 'is-invalid': submittedBedrijf && b.username.errors || submittedBedrijf && invalidBedrijfUsername }">
              <div *ngIf="submittedBedrijf && b.username.errors" class="invalid-feedback">
                <div *ngIf="b.username.errors.required">Verplicht in te vullen.</div>
              </div>
              <div *ngIf="submittedBedrijf && invalidBedrijfUsername" class="invalid-feedback">
                <div *ngIf="invalidBedrijfUsername">Deze gebruikersnaam bestaat al.</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <input type="password" class="form-control form-control-user" id="password" placeholder="Wachtwoord"
                formControlName="password" [ngClass]="{ 'is-invalid': submittedBedrijf && b.password.errors }">
              <div *ngIf="submittedBedrijf && b.password.errors" class="invalid-feedback" autocomplete="new-password">
                <div *ngIf="b.password.errors.required">Verplicht in te vullen.</div>
                <div *ngIf="b.password.errors.minlength">Minimum 6 karakters.</div>
              </div>
            </div>
            <div class="col-sm-6">
              <input type="password" class="form-control form-control-user" id="repeatPassword"
                placeholder="Herhaal Wachtwoord" formControlName="passwordHerhaald"
                [ngClass]="{ 'is-invalid': submittedBedrijf && b.passwordHerhaald.errors }">
              <div *ngIf="submittedBedrijf && b.passwordHerhaald.errors" class="invalid-feedback"
                autocomplete="new-password">
                <div *ngIf="b.passwordHerhaald.errors.required">Verplicht in te vullen.</div>
                <div *ngIf="b.passwordHerhaald.errors.minlength">Minimum 6 karakters.</div>
                <div *ngIf="b.passwordHerhaald.errors.mustMatch">Wachtwoord komen niet overeen.</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="btn-group btn-group-sm col-sm-6 mx-auto">
              <button type="button" (click)="registerBack()"
                class="btn btn-primary btn-user col-sm-2 mx-auto backButton">
                <i class="fas fa-lg fa-arrow-left"></i>
              </button>
              <button [disabled]="waitStudent" type="submit" class="btn btn-primary btn-user mx-auto">
                Registreer account
              </button>
            </div>
          </div>
          <!--
      <hr>
     <a href="index.html" class="btn btn-google btn-user btn-block col-5 mx-auto">
        <i class="fab fa-google fa-fw"></i> Register with Google
      </a>
      <a href="index.html" class="btn btn-facebook btn-user btn-block col-5 mx-auto">
        <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
      </a> -->
        </div>
      </div>
    </div>
  </form>

  <hr>
  <div class="text-center">
    <button class="small btn btn-link" role="button" (click)="disableRegister()">Heb je al een account? Log in!</button>
  </div>
</div>