.small {
    font-size: 80% !important;
}

.logoHalf {
    max-width: 30px;
}

.test {
    display: block;
    text-align: center;
}

.logoMini {
    padding-right: 7px;
}

.bedrijfActive, .studentActive {
    font-weight: 700;
}

.bedrijfActive {
    color: #22C1C2 !important;
}

.studentActive {
    color: 	#72E9D6 !important;
}

.formOption {
    cursor: pointer;
    user-select: none;
}

.form-control-textarea {
    border-radius: 20px !important;   
}

.dob {
    background: white;
}

.backButton {
    background: #09ada7;
}