<!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">Opdracht</th>
        <th scope="col">Locatie</th>
        <th scope="col"><button class="btn btn-primary btn-lg btn-sm active" (click)="naarDetails()">Nieuwe opdracht</button></th>
      </tr>
    </thead>
    <tbody *ngIf="bedrijf">
      <tr *ngFor="let opdracht of bedrijf.opdrachten" >
        <td>{{opdracht.titel}}</td>
        <td>{{opdracht.straat}} {{opdracht.straatNr}} {{opdracht.postcode}} {{opdracht.woonPlaats}}</td>
        <td><button class="btn btn-primary btn-lg btn-sm active" (click)="naarDetails(opdracht.id)">Meer Info</button>
            </td>
      </tr>
  </table> -->

<div class="container">
  <h2 class="cust-titel font-weight-bold">Opdrachten van <span class="font-italic">{{bedrijf.naam}}</span></h2>

  <div *ngFor="let opdracht of bedrijf.opdrachten">
    <div class="card" (click)="naarDetails(opdracht.id)">
      <div class="card-body">
        <h5 *ngIf="opdracht.titel" class="card-title font-weight-bold">{{opdracht.titel}}
          <span *ngIf="opdracht.open" class="badge badge-success">Open</span >
          <span *ngIf="!opdracht.open" class="badge badge-danger">Gesloten</span>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted font-italic">{{opdracht.straat}} {{opdracht.straatNr}}, {{opdracht.postcode}} {{opdracht.woonPlaats}}</h6>
        <p class="card-text">{{opdracht.omschrijving}}</p>
        <div>
          <span *ngFor="let tag of opdracht.tags" class="tag badge badge-success">{{tag.tag?.naam}}</span>
        </div>
      </div>
    </div>
  </div>
  </div>